* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.2rem;
}

.calculator {
    border: 1px solid #c2baba;
    border-radius: 5px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #000508;
}

.calculator-input {
    width: 100%;
    font-size: 4rem;
    height: 100px;
    border: none;
    background-color: #000000b0;
    color: #ffffff;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
}

button {
    height: 50px;
    background-color: #f3f3f3;
    border-radius: 100px;
    border: 1px solid #b4aaaa3a;
    background-color: #857e7e3a;
    font-size: 2.5rem;
    color: #fdfdfd;
}

button:hover {
    background-color: #928888;
}

.operator {
    color: #337cac;
}

.clear {
    background-color: #e60e15;
    border-color: #b0353a;
    color: #fff;
}

.clear:hover {
    background-color: #f17377;
}

.equal-sign {
    background-color: #0d4366;
    border-color: #1a4e70;
    color: #fff;
    height: 100%;
    grid-area: 2/4/6/5;
}

.equal-sign:hover {
    background-color: #457596;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px
}


  







